body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.status-bar {
  display: flex;
}
.status-bar__cloumn {
  width: 33%;
}

.status-bar__cloumn:first-child span {
  margin-right: 5px;
}

.status-bar__cloumn:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__cloumn:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__cloumn.fa-battery-full {
  margin: 0px 5px;
}
